<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8" /><!-- 使用utf-8编码 -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<!--显示设置, layui要用-->
	<title>{{ site.title }} - {{page.title}}</title><!-- 标题格式, 站点标题+文章标题-->
	<link rel="stylesheet" href="../layui/css/layui.css" />
	{% if page.owncss %}
	<link rel="stylesheet" href={{ page.owncss.context }} />
	{% endif %}
</head>

<body>
	
	<script src="../layui/layui.js"></script>
	<script>
		//一般直接写在一个js文件中
		layui.use(['layer', 'form'], function () {
			var layer = layui.layer,
				form = layui.form;

			layer.msg('Hello World');
		});
	</script>
</body>

</html>